<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联赛几点要求及注意事项</title>
</head>
<body>
    <h1>联赛几点要求及注意事项: </h1>
    <p>1、中午12点人员调整，保证12点前，完成联赛对战</p>
    <p>2、想上场参战的，在群里说话@ 萝卜 和 青帝（最好是早上）</p>
    <p>3、人员替换，一般都是相同级别的大本营兑换调整</p>
    <p>4、替换原则：不参战、打满8星（如果有需要上场同等级大本就替换）（8星就可以领取联赛全部奖励）</p>
    <p>5、保底2星，各位打法不要太奔放</p>
    </br>
    
    <h1>2021-01-联赛备选人员：</h1>
    <table border="1">
        <tr>
            <th>大本级别</th>
            <th>名字</th>
        </tr>
        <tr>
            <td>11</td> <td>仙阁，魔卫</td>
        </tr>
        <tr>
            <td>11</td> <td>神的审判</td>
        </tr>
        <tr>
            <td>11</td> <td>仙阁，饕鬄</td>
        </tr>
    </table>

</body>
</html>